/**
 * Media manager
 *
 * Media manager structure
 * +----------------------+----------------------+
 * |.media-manager-toolbar|.media-manager-sidebar|
 * |.media-manager-browser|                      |
 * +----------------------+----------------------+
 *
 * General manager list structure
 *
 * - ol.media-manager-list
 *    - li.media.manager.preview
 *      - div.media-manager-preview-inner
 *        - div.media-manager-preview-thumbnail
 *          - div.media-manager-preview-centered
 */

$side-padding-media-manager: 8px;

@mixin mediaManagerElementSize() {
  width: 16.6%;
  @media(max-width:1600px) {
    width: 20%;
  }
  @media(max-width:1169px) {
    width: 25%;
  }
  @media(max-width:768px) {
    width: 33.3%;
  }
}

.media-manager {
  .modal-body {
    overflow-y: auto;
  }
}

/**
 * Ordered list
 */
.media-manager-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  overflow: auto;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

/**
 * General media preview wrapper
 */
$selected-border-bg-color: #1e8cbe;
$selected-border-color: #fff;
$manipulated-border-bg-color: #ccc;
$manipulated-border-color: #111;

.media-manager-preview {
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: $side-padding-media-manager;
  float: left;
  line-height: 0;
  @include mediaManagerElementSize;
  &.manipulated, &.selected {
    &:after {
      position: absolute;
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f00c";
      display: block;
      height: 24px;
      line-height: 24px;
      width: 24px;
      z-index: 10;
      top:2px;
      right:2px;
      outline: 0;
    }
  }
  &.manipulated {
    box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px $manipulated-border-bg-color;
    &:after {
      background-color: $manipulated-border-bg-color;
      box-shadow: 0 0 0 1px #fff,0 0 0 2px $manipulated-border-bg-color;
      color: $manipulated-border-color;
    }
  }
  &.selected {
    box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px $selected-border-bg-color;
    &:after {
      background-color: $selected-border-bg-color;
      box-shadow: 0 0 0 1px #fff,0 0 0 2px $selected-border-bg-color;
      color: $selected-border-color;
    }
  }
}

/**
 * Inside preview
 */
.media-manager-preview-inner {
  cursor: pointer;
  position: relative;
  box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
  background: #eee;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

/**
 * Even deeper
 */
.media-manager-preview-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    overflow: hidden;
  }
}

.media-manager-preview-centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(50%, 50%);
  img, i, canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
  i {
    font-size: 72px;
  }
  &.landscape {
    img {
      max-height: 100%;
    }
  }
  &.portrait {
    img {
      max-width: 100%;
    }
  }
}

.media-manager-toolbar {
  padding: 10px 0;
  clear: both;
  overflow: hidden;
  .media-manager-toolbar-block {
    @include mediaManagerElementSize;
    float: left;
    padding: 0 $side-padding-media-manager;
    @media(max-width:768px) {
      padding-bottom: $side-padding-media-manager;
      width: 100%;
    }
  }
  @media(max-width:768px) {
    margin-bottom: -2 * $side-padding-media-manager;
  }
}

.media-manager-browser {
  position: absolute;
  top: 0;
  left: 0;
  right: 300px;
  bottom: 0;
  overflow: auto;
  outline: 0;
  padding: 0 15px;
  @media(max-width:768px) {
    right: 0;
  }
}

.media-manager-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  padding: 0 15px;
  z-index: 75;
  background: #f3f3f3;
  border-left: 1px solid #dedede;
  overflow: auto;
  @media(max-width:768px) {
    display: none;
  }

  .media-manager-attachment {
    position: relative;
    float: left;
    width: 120px;
    height: 120px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    img {
      display: block;
      max-width: 120px;
      max-height: 120px;
      margin: 0 auto;
    }
    i {
      font-size: 72px;
      width: 120px;
      height: 120px;
      text-align: center;
      line-height: 120px;
    }
  }

  .media-manager-detail-block {
    overflow: hidden;
    clear: both;
  }

  .media-manager-details {
    height: 140px;
    float: left;
    .filename {
      font-weight: 700;
      height: 1.6em;
      overflow: hidden;
      position: relative;
      span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      }
      &:hover {
        overflow: visible;

      }
    }
  }

  .tool-sink {
    padding-top: 20px;
  }
}

.media-image-preview {
  width: 100%;
  img {
    max-width: 100%;
    height: auto;
  }
}

@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.media-manager-status-text {
  i {
    margin-right: 5px;
  }
  .fa.fa-refresh {
    animation: rotate 1s infinite;
  }
}


$tab-upload-panel-width: 360px;
$tab-upload-panel-height: 180px;

.tab-pane-middle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  .tab-pane-middle-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: $tab-upload-panel-width;
    height: $tab-upload-panel-height;
    margin-left: -1 * ($tab-upload-panel-width/2);
    margin-top: -1 * ($tab-upload-panel-height/2);
  }
  .btn-upload {
    padding: 0.75em 3em;
    margin: 1em auto 2em;
  }
  .upload-or {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
  }
}

$upload-color: #61efec;
$upload-color-secondary: rgba($upload-color,0.2);

/**
 * dropzone
 */
[data-media-dropzone] {
  &.over {
    &:after {
      content: "";
      pointer-events: none;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;
      border: 5px solid $upload-color;
      background-color: $upload-color-secondary;
    }
  }
  //
}

.sanatorium-inputs-widget-display {
  position: relative;
  i {
    font-size: 72px;
  }
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
  }
  &:hover {
    .sanatorium-inputs-widget-display-btn {
      display: block;
    }
  }
}

.sanatorium-inputs-widget-display-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  display: none;
  border: 1px solid #eee;
  color: #aaa;
  &:hover {
    border: 1px solid #aaa;
    color: #666;
  }
  &.edit {

  }
  &.delete {
    top: 2*18px;
  }
  i {
    font-size: 14px;
  }
}

.media-manager-file__bar {
  position: absolute;
  bottom: 50%;
  margin-bottom: -10px;
  left: 20px;
  right: 20px;
  height: 20px;
  background-color: $upload-color-secondary;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  border: 1px solid $upload-color;
  .media-manager-progress {
    .media-manager-progress__bar {
      background-color: $upload-color;
      height: 20px;
      display: block;
      width: 0;
      transition: width 0.6s;
    }
  }
}